POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=taskdb

SECRET_KEY=your-long-random-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE=30
REFRESH_TOKEN_EXPIRE=7
TASK_CACHE_TTL = 60

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/taskdb
REDIS_URL=redis://redis:6379/0

ACTIVITY_CHANNEL = "activity"
